 @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  padding: 10px
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

body {
  padding: 0;
  margin: 0;
}