  .modalContainer {
    width: 50%;
    height: 60%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(0%, 0%);
  }

  .modalContainer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .modalContainer .header .addCourse {
    flex: 1; /* Use flex: 1 to make the typography take up remaining space on the left */
  }
  
  .modalContainer .header .closeBtn {
    flex: none; /* Use flex: none to prevent the close button from taking up remaining space */
  }

  .closeBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .modalContainer .body {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    text-align: center;
    overflow: auto;
    margin: auto;
    margin-top: 10px;
  }

  .components {
    border: 2px solid rgba(0, 0, 0, 0.443);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .modalContainer .footer {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 10px;
  }